{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/custom.css" %}"/>
    <script type="text/javascript" src="{% static "js/list.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="container-fluid">
<div class="row">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}" style="margin: 50px;">
            {% csrf_token %}
            <fieldset class="form-group text-left">
                <div>
                    <div style="align-content: center;">
                        <strong>FixMyCarNow</strong>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group text-left">
                <div class="alert alert-info" role="alert">
                    <strong>You've logged out.</strong> Thanks for coming!
                </div>
            </fieldset>
            <fieldset class="form-group text-left">
                <label for="id_username">Username: </label>
                <input class="form-control" id="id_username" maxlength="254" name="username" type="text"/>
            </fieldset>
            <fieldset class="form-group text-left">
                <label for="id_password">Password: </label>
                <input class="form-control" id="id_password" name="password" type="password"/>
            </fieldset>

            <fieldset class="form-group text-left">
                <input class="btn btn-success btn-lg btn-block" type="submit" value="Log In"/>
            </fieldset>
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}"/>
            {% else %}
                <input type="hidden" name="next" value="/news/"/>
            {% endif %}
        </form>
    </div>
</div>
</body>
</html>
