body {
    margin-bottom: 60px;
    font-family: sans-serif;
    background: linear-gradient(white, lightblue);
}

a {
    text-decoration: none !important;
}

.label-fixmycarnow {
    font-weight: 0;
    padding: .2em .6em .1em;
    text-shadow: none;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#card_title {
    color: white;
}

.form-login {
    margin: 20px;
    max-width: 500px;
    text-align: center;
}

ol {
    text-decoration: none;
}

h2 {
    font-family: sans-serif;
    margin-left: 1rem;
}

.list {
    font-family: sans-serif;
    margin: 0;
    padding: 20px 0 0;
}

.list > li {
    display: block;
    background-color: #eee;
    padding: 10px;
    box-shadow: inset 0 1px 0 #fff;
}

.avatar {
    max-width: 150px;
}

img {
    max-width: 100%;
}

h3 {
    font-size: 16px;
    margin: 0 0 0.3rem;
    font-weight: normal;
    font-weight: bold;
}

legend {
    margin-left: 1rem;
}

p {
    margin: 0;
}

.sort {
    padding: 8px 30px;
    border-radius: 6px;
    border: none;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #28a8e0;
    height: 30px;
}

.sort:hover {
    text-decoration: none;
    background-color: #1b8aba;
}

.sort:focus {
    outline: none;
}

.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    position: relative;
    top: 13px;
    right: -5px;
}

.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.card-header {
    color: white;
}

#ActiveTrue {
    background-color: #007bff;
    font-weight: bold;
    color: white;
}

#ActiveFalse {
    text-decoration: line-through;
    background-color: lightgray;
}

.panel-default > .panel-footer {
    background-color: skyblue;
}

.breadcrumb {
    background-color: lightskyblue;
}

.container-fluid {
    /*margin-left: 1rem;*/
    /*margin-right: 1rem;*/
    /*width: 97%;*/
}

.mysearch {
    width: 97%;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.mysearch:focus {
    width: 30%;
}

.card {
    margin-bottom: 10px;
}

.cards {
    margin-left: 10px;
    margin-right: 10px;
}

