{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
{% endblock %}
{% block menu-item %}
    <li class="nav-item">
        <button type="submit" class="btn btn-success my-2 my-sm-0" onsubmit="return validateForm()" form="add"><i class="fas fa-save"></i>
            Save
        </button>
    </li>
{% endblock %}
{% block content %}
    <div class="container-fluid">
            <form name="add_form" id="add" action="{{ submit_to }}" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <fieldset class="form-group text-left">
                    {% if added %}<span style="color: red">{{ added }} has been added to the system</span>{% endif %}
                    {% if error %}
                        <div class="well-lg"><span style="color: red">{{ error }}</span></div>{% endif %}
                </fieldset>
            {{ items }}
                {% for item in items %}
                    <fieldset class="form-group">
                        <label for="{{ item.id }} ">{{ item.label }}</label>
                        {% if item.type == "text" %}
                            <input type="text"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                            >
                        {% elif item.type == "number" %}
                            <input type="number"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                            >
                        {% elif item.type == "password" %}
                            <input type="password"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                            >
                        {% elif item.type == "email" %}
                            <input type="email"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                            >
                        {% elif item.type == "checkbox" %}
                            <input
                                    name="{{ item.id }}"
                                    type="checkbox"
                                    value="{{ item.id }}"
                            >
                        {% elif item.type == "dropdown" %}
                            <select class="select2_dropdown" name="{{ item.id }}">
                                {% for option in item.options %}
                                    <option value="{{ option.value }}" {{ option.selected }}>{{ option.text }}</option>
                                {% endfor %}
                            </select>
                        {% elif item.type == "dropdown_no_search" %}
                            <select class="select2_dropdown select2_no_search" name="{{ item.id }}">
                                {% for option in item.options %}
                                    <option value="{{ option.value }}" {{ option.selected }}>{{ option.text }}</option>
                                {% endfor %}
                            </select>
                        {% elif item.type == "textarea" %}
                            <textarea class="form-control" id="{{ item.id }}" name="{{ item.id }}"
                                      placeholder="{{ item.placeholder }}"></textarea>
                        {% endif %}
                    </fieldset>
                {% endfor %}
                {% for hidden_item in hidden_items %}
                    <input type="hidden" name="{{ hidden_item.id }}" id="{{ hidden_item.id }}"
                           value="{{ hidden_item.value }}">
                {% endfor %}
                <input type="submit" onsubmit="return validateForm()" class="btn btn-success btn-lg btn-block"
                       value="Save">
            </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        function validateForm() {
            var username = document.forms["add_form"]["username"].value;
            var password = document.forms["add_form"]["pass"].value;
            var text = "The following field is required:\n\n";
            var result = true;
            if (username == null || username == "") {
                text = text + "username\n";
                result = false;
            }
            if (password == null || password == "") {
                text = text + "password\n";
                result = false;
            }
            if (result == false) {
                alert(text);
            }

            return result;
        }
    </script>
{% endblock %}
