{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">

        <div class="jumbotorn">
            <form name="add_job" id="add_job" action="/add_job/?vehicle_id={{ vehicle.id }}" method="post"
                  style="margin: 20px;">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">Mileage [Previous: {{ vehicle.mileage }}]</span>
                    <input id="mileage" type="text" name="mileage" placeholder="New Mileage">
                    <span class="input-group-addon">miles</span>
                </div>
                <div class="well well-sm">
                    <a role="button" data-toggle="collapse" href="#collapseExample" style="text-decoration: none;"
                       aria-expanded="false" aria-controls="collapseExample">
                        Edit Dates<span class="fas fa-caret-down"></span>
                    </a>
                    <div class="collapse {{ expanded }}" id="collapseExample">
                        <div class="row">
                            <div class="col" style="background-color: transparent;">
                                <div name="date_created" id="date_created" type="text"
                                     class="datepicker-here form-control"
                                     data-position="bottom left" data-language="en" data-toggle="tooltip"
                                     data-placement="bottom" title="Click to change"></div>
                            </div>
                            <div class="col">
                                <div name="last_updated" id="last_updated" type="text"
                                     class="datepicker-here form-control"
                                     data-position="bottom left" data-language="en" data-toggle="tooltip"
                                     data-placement="bottom" title="Click to change"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <label for="note">Note</label>
                <textarea class="form-control" name="note" id="note"></textarea>


                <div class="row" style="margin-bottom: 10px;">
                    {% for key, values in job_details.items %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-header bg-primary"><h4 class="card-title">{{ key }}</h4></div>
                                <div class="card-body">
                                    {% for v in values %}
                                        <div class="block">
                                            <div class="row">
                                                <div>
                                                    <label class="switch">
                                                        <input name="jb_{{ v.id }}" id="{{ v.id }}"
                                                               type="checkbox" {{ v.checked }}>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <div style="margin-left: 10px;">
                                                    {{ v.name }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <input type="submit" class="btn btn-success btn-lg btn-block" value="Save">
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">

        $("#mileage").on('keypress', function () {
            $(this).css('background-color', 'white');
        });
        $("#add_job").submit(function () {
            var mileage = document.forms["add_job"]["mileage"].value;
            var result = true;
            if (mileage == null || mileage == "" || mileage < {{ vehicle.mileage }}) {
                toastr.options.closeButton = true;
                toastr.error('Please enter correct mileage');
                $("#mileage").css('background-color', '#ff4d4d');
                $("#mileage").focus();
                result = false;
            }
            return result;
        });

        var $pickerdc = $('#date_created');
        $pickerdc.datepicker({
            todayButton: true,
            dateFormat: "MM d, yyyy",
            navTitles: {
                days: '<h3>Date Created</h3> MM d, yyyy'
            }
        });

        var $pickerlu = $('#last_updated');
        $pickerlu.datepicker({
            todayButton: true,
            dateFormat: "MM d, yyyy",
            navTitles: {
                days: '<h3>Last Updated</h3> MM d, yyyy'
            }
        });

    </script>

{% endblock %}
