{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
{% endblock %}
{% block menu-item %}
    <li class="nav-item">
        <button type="submit" class="btn btn-success my-2 my-sm-0" form="new_vehicle"><i class="fas fa-save"></i>
            Save
        </button>
    </li>
{% endblock %}
{% block extra_header_button %}

{% endblock %}
{% block content %}
    <div class="container-fluid">
        <hr>
        <a class="btn btn-light" href="/vehicles?client_id={{ client.id }}&vehicle_details_expanded"><i
                class="fas fa-arrow-left"></i> {{ client.first_name }} {{ client.last_name }}</a>
        <hr>
        <div class="container-fluid">
            <form name="add_form" id="new_vehicle" action="{{ submit_to }}" method="post">
                {% csrf_token %}
                <fieldset class="form-group text-left">
                    {% if added %}<span style="color: red">{{ added }} has been added to the system</span>{% endif %}
                    {% if error %}
                        <div class="well-lg"><span style="color: red">{{ error }}</span></div>{% endif %}
                </fieldset>
                {% for item in items %}
                    <fieldset class="form-group">
                        <label for="{{ item.id }}">{{ item.label }}</label>
                        {% if item.id == "make" %}
                            <input type="text"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                                   list="companies"
                                   autocomplete="off"
                            >
                            <datalist id="companies">
                            {% for option in item.options %}
                                <option value="{{ option.text }}">
                            {% endfor %}
                            </datalist>
                        {% elif item.type == "text" %}
                            <input type="text"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                            >
                        {% elif item.type == "model" %}
                                <input type="text"
                                       class="form-control"
                                       name="{{ item.id }}"
                                       id="{{ item.id }}"
                                       placeholder="{{ item.placeholder }}"
                                       value="{{ item.value }}"
                                       list="carmodels"
                                       autocomplete="off"
                                       >
                            <div id="CarModel">
                                <datalist id="carmodels">
                                    <option value="Please provide Make">
                                </datalist>
                            </div>
                        {% elif item.type == "number" %}
                            <input type="number"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                            >
                        {% elif item.type == "password" %}
                            <input type="password"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                            >
                        {% elif item.type == "email" %}
                            <input type="email"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                            >
                        {% elif item.type == "checkbox" %}
                            <input
                                    name="{{ item.id }}"
                                    type="checkbox"
                                    data-off-text="{{ item.off_text }}"
                                    data-on-text="{{ item.on_text }}"
                                    class="BSswitch"
                            >
                        {% elif item.type == "dropdown" %}
                            <select class="form-control" name="{{ item.id }}" id="{{ item.id }}" style="width: 100%">
                                {% for option in item.options %}
                                    <option value="{{ option.value }}" {{ option.selected }}>{{ option.text }}</option>
                                {% endfor %}
                            </select>
                        {% elif item.type == "dropdown_no_search" %}
                            <div id="CarMake">
                                <select class="select2_dropdown" name="{{ item.id }}" style="width: 100%">
                                    {% for option in item.options %}
                                        <option value="{{ option.value }}" {{ option.selected }}>{{ option.text }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% elif item.type == "textarea" %}
                            <textarea class="form-control" id="{{ item.id }}" name="{{ item.id }}"
                                      placeholder="{{ item.placeholder }}"></textarea>
                        {% endif %}
                    </fieldset>
                {% endfor %}
                {% for hidden_item in hidden_items %}
                    <input type="hidden" name="{{ hidden_item.id }}" id="{{ hidden_item.id }}"
                           value="{{ hidden_item.value }}">
                {% endfor %}
                <input class="btn btn-success btn-lg btn-block" type="submit" data-enhanced="true" value="Save">
            </form>
        </div>
    </div>
{% endblock %}
