{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
            <form name="add_form" id="add" action="{{ submit_to }}" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <fieldset class="form-group text-left">
                    {% if added %}<span style="color: red">{{ added }} has been added to the system</span>{% endif %}
                    {% if error %}
                        <div class="well-lg"><span style="color: red">{{ error }}</span></div>{% endif %}
                </fieldset>
                {% for item in items %}
                    <fieldset class="form-group">
                        <label for="{{ item.id }} ">{{ item.label }}</label>
                        {% if item.id == "company" %}
                            <input type="text"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                                   list="companies"
                                   autocomplete="off"
                            >
                            <datalist id="companies">
                            {% for company in companies %}
                                <option value="{{ company.name }}">
                            {% endfor %}
                            </datalist>
                        {% else %}
                            <input type="text"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                                   autocomplete="off"
                            >
                        {% endif %}
                    </fieldset>
                {% endfor %}
                {% for hidden_item in hidden_items %}
                    <input type="hidden" name="{{ hidden_item.id }}" id="{{ hidden_item.id }}"
                           value="{{ hidden_item.value }}">
                {% endfor %}
                <input type="submit" onsubmit="return validateForm()" class="btn btn-success btn-lg btn-block"
                       value="Save">
            </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        function validateForm() {
            var username = document.forms["add_form"]["username"].value;
            var password = document.forms["add_form"]["pass"].value;
            var text = "The following field is required:\n\n";
            var result = true;
            if (username == null || username == "") {
                text = text + "username\n";
                result = false;
            }
            if (password == null || password == "") {
                text = text + "password\n";
                result = false;
            }
            if (result == false) {
                alert(text);
            }

            return result;
        }
    </script>
{% endblock %}
