{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/favicon.ico"/>
    {# jquery #}
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    {# jquery #}
    {# bootstrap #}
    <link rel="stylesheet" href="{% static "css/fa-svg-with-js.css" %}"/>
    <link rel="stylesheet" href="{% static "css/sticky-footer-navbar.css" %}"/>
    {# bootstrap #}
{#    <link rel="stylesheet" href="{% static "css/toastr.min.css" %}"/>#}
    <link rel="stylesheet" href="{% static "css/jquery.toast.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/custom.css" %}"/>
    <link rel="stylesheet" href="{% static "css/datepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/slider.css" %}"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
{#    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">#}

    <script src="{% static "js/moment-with-locales.js" %}"></script>
    <script src="{% static "js/fontawesome-all.min.js" %}"></script>
{#    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/list.min.js" %}"></script>
{#    <script type="text/javascript" src="{% static "js/toastr.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/jquery.toast.min.js" %}"></script>
{#    <script type="text/javascript" src="{% static "js/vDetails.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/datepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/i18n/datepicker.en.js" %}"></script>

    {% block extra_css %} {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top">
{#    <div class="container-fluid">#}
        <a class="navbar-brand" href="/news"><i class="fas fa-home"></i> FixMyCarNow</a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="/friends"><i class="fas fa-users"></i>
                        [Everyone]</a></li>
                {% endif %}
                {% block menu-item %}{% endblock %}
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/settings"><i class="fas fa-user"></i> {{ user.username }}</a>
                        <div class="dropdown-divider"></div>
                        {% if user.username == 'themaster' %}
                            <a class="dropdown-item" href="/settings"><i class="fas fa-sliders-h"></i> Settings</a>
                        {% endif %}
                        {% if user.is_superuser %}
                            <a class="dropdown-item" href="/add_user" ><i class="fas fa-user-plus"></i> Add User</a>
                            <a class="dropdown-item" href="/add_carcompany" ><i class="fas fa-car"></i> New Car Model</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/admin" target="_blank"><i class="fas fa-cogs"></i> admin</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </li>
            </ul>
            </ul>
        </div>
{#    </div>#}
</nav>

{% block content %}{% endblock %}

</body>
{% block extra_js %}{% endblock %}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/get_vehicle_select",
            type: "GET"
        })
            .done(function (data) {
                $("#vehicle_list").html(data);
            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("done");
            });
        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $("#make").keyup(function () {
            $("#model").val("");
            updateModel();
        });
        $("#make").change(function () {
            updateModel();
        });
        $("#make").focusout(function () {
            updateModel();
            $(this).val( $(this).val().toUpperCase() );
        });
        function updateModel(){
            console.log('bind change');
            var val = $("#make").val();
            $.ajax({
                url: "/get_model/",
                type: "POST",
                data: {cat: val}
            })
                .done(function (data) {
                    $("#CarModel").html(data);
                })
                .fail(function () {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("done success");
                    $("#model").on("change", function (event) {
                        console.log("model on change");
                        var val = $("#model option:selected").text();
                        console.log(val);
                        $("#model_name").html(val);
                    });
                });
        };
        console.log('pagecreate');

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    });
</script>
</html>
