<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <style>
        {% block extra_css %}{% endblock %}
    </style>
</head>
<body>
<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
    <h1><a href="/login/" style="text-decoration: none">FixMyCarNow</a></h1>
</div>
{% block content %}{% endblock %}
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    {% block extra_js %}{% endblock %}
</script>
</html>
