{% verbatim %}
<ion-view title="Browse">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1>Browse</h1>
    </ion-content>
</ion-view>
{% endverbatim %}