{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <a class="btn btn-light" href="/vehicle?vehicle_id={{ vehicle.id }}&vehicle_details_expanded"><i
                class="fas fa-arrow-left"></i> {{ vehicle.make.name }} {{ vehicle.model.name }}</a>
        <hr>
        <input type="hidden" id="vehicle_id" value="{{ vehicle.id }}">
        <table class="table table-striped">
            <tr>
                <td>Mileage</td>
                <td><input id="mileage" class="form-control" type="text" value="{{ vehicle.mileage }}"/></td>
            </tr>
            <tr>
                <td>Year</td>
                <td><input id="year" class="form-control" type="text" value="{{ vehicle.year }}"/></td>
            </tr>
            <tr>
                <td>Engine Oil Type</td>
                <td><select id="oil_type" class="form-control">
                    <option value="R" {% if vehicle.engine_oil_type == "R" %} selected {% endif %} >Regular</option>
                    <option value="S" {% if vehicle.engine_oil_type == "S" %} selected {% endif %}>Synthetic</option>
                </select></td>
            </tr>
            <tr>
                <td>Active</td>
                <td><label class="switch"><input type="checkbox" id="active" {% if vehicle.active %}checked{% endif %}><span class="slider round"></span></label></td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th>New Item</th>
                <th></th>
            </tr>
            <tr>
                <td><input id="detail_key" type="text" class="form-control" placeholder="Key"/></td>
                <td><input id="detail_value" type="text" class="form-control" placeholder="Value"/></td>
                <td>
                    <button onclick="addDetail()" class="btn btn-success" type="button" id="add_detail"><span
                            class="fas fa-plus"></span></button>
                </td>
            </tr>
        </table>
        <div id="vehicle_parts">

        </div>
    </div>
        <div class="fixed-bottom" style="top: 85%; left: 90%">
        <button type="button" onclick="saveDetails()" class="btn btn-success" style="width: 70px; height: 70px; padding: 10px 16px; border-radius:35px; font-size: 24px; line-height: 1.33;"><i class="fas fa-save"></i></button>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var val = $('#vehicle_id').val();
            $.ajax({
                url: "/get_vehicle_parts_table/",
                type: "GET",
                data: {vehicle_id: val}
            })
                .done(function (data) {
                    $("#vehicle_parts").html(data);
                })
                .fail(function () {
                    console.log("error");
                })
                .always(function (data) {
                    console.log("done");
                });
        });

        function saveDetails() {
    var v_id = $("#vehicle_id").val();
    var mileage = $("#mileage").val();
    var year = $("#year").val();
    var oilType = $("#oil_type").val();
    var active = $("#active").is(":checked");
    $.ajax({
        url: '/edit_vehicle_details/',
        type: 'POST',
        data: {
            vehicle_id: v_id,
            mileage: mileage,
            year: year,
            oil_type: oilType,
            active: active
        }
    })
        .done(function (data) {
            console.log(data);
            $.toast({
                heading: 'Success',
                text: 'Vehicle details saved here',
                icon: 'success',
                hideAfter: 3000,
                showHideTransition: 'slide',
                afterHidden: function () {
                    window.location.replace('/vehicle?vehicle_id=' + v_id);
                }
            })
        })
        .fail(function (data) {
            console.log('failed');
            console.log(data);
             $.toast({
                heading: 'Failed',
                text: 'Unable to save details',
                icon: 'error',
                hideAfter: 3000,
                showHideTransition: 'slide',
            })
        })
        .always(function () {
            console.log('always');
        });
}

function delDetail(d_id) {
    if (confirm('Are you sure?') == false) {
        return false;
    }
    var v_id = $("#vehicle_id").val();
    $.ajax({
        url: '/del_vehicle_detail/',
        type: 'POST',
        data: {
            vehicle_id: v_id,
            detail_id: d_id
        }
    })
        .done(function (data) {
            $("#vehicle_parts").html(data);
            $.toast({
                heading: 'Success',
                text: 'Successfully removed detail',
                icon: 'success',
                hideAfter: 3000,
                showHideTransition: 'slide',
            })
        })
        .fail(function () {
            console.log("error");
        })
        .always(function (data) {
            console.log("always");
            console.log(data);
        });
}

function addDetail() {
    console.log('add_detail clicked');
    var detail_key = $("#detail_key").val();
    if (detail_key == null || detail_key == "") {
        $.toast({
            heading: 'Warning',
            text: 'Key is empty',
            icon: 'warning',
            hideAfter: 5000,
            showHideTransition: 'slide',
        })
        return false;
    }
    var detail_value = $("#detail_value").val();
    if (detail_value == null || detail_value == "") {
        $.toast({
            heading: 'Warning',
            text: 'Value is empty',
            icon: 'warning',
            hideAfter: 5000,
            showHideTransition: 'slide',
        })

        return false;
    }
    var v_id = $("#vehicle_id").val();
    $.ajax({
        url: "/add_vehicle_extra_detail/",
        type: "POST",
        data: {
            key: detail_key,
            value: detail_value,
            vehicle_id: v_id
        }
    })
        .done(function (data) {
            console.log(data);
            $("#detail_key").val('');
            $("#detail_value").val('');
            $("#vehicle_parts").html(data);
            $.toast({
                heading: 'Success',
                text: 'Extra details added',
                icon: 'success',
                hideAfter: 3000,
                showHideTransition: 'slide',
            })
        })
        .fail(function () {
            console.log("error");
        })
        .always(function (data) {
            console.log("done");
        })
}

    </script>
{% endblock %}
