{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
{% endblock %}
{% block extra_header_button %}

{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/friends/">home</a></li>
        <li><a href="/vehicles?client_id={{ user.id }}">{{ user.username }}</a></li>
    </ol>
    <div class="container">
        <div class="jumbotron">
            <form name="add_form" action="{{ submit_to }}" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <fieldset class="form-group text-left">
                    {% if added %}<span style="color: red">{{ added }} has been updated</span>{% endif %}
                    {% if error %}<span style="color: red">{{ error }}</span>{% endif %}
                </fieldset>
                {% for item in items %}
                    <fieldset class="form-group">
                        <label for="{{ item.id }} ">{{ item.label }}</label>
                        {% if item.type == "text" %}
                            <input type="text"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                                    {{ item.disabled }}
                            >
                        {% elif item.type == "password" %}
                            <input type="password"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                            >
                        {% elif item.type == "email" %}
                            <input type="email"
                                   class="form-control"
                                   name="{{ item.id }}"
                                   id="{{ item.id }}"
                                   placeholder="{{ item.placeholder }}"
                                   value="{{ item.value }}"
                            >
                        {% elif item.type == "checkbox" %}
                            <input
                                    name="{{ item.id }}"
                                    type="checkbox"
                                    data-off-text="{{ item.off_text }}"
                                    data-on-text="{{ item.on_text }}"
                                    class="BSswitch"
                            >
                        {% elif item.type == "dropdown" %}
                            <br/>
                            <select class="select2_dropdown" name="{{ item.id }}">
                                {% for option in item.options %}
                                    <option value="{{ option.value }}" {{ option.selected }}>{{ option.text }}</option>
                                {% endfor %}
                            </select>
                        {% elif item.type == "textarea" %}
                            <textarea class="form-control" id="{{ item.id }}" name="{{ item.id }}"
                                      placeholder="{{ item.placeholder }}">{{ item.value }}</textarea>
                        {% endif %}
                    </fieldset>
                {% endfor %}
                <div class="ui-input-btn ui-btn ui-corner-all" style="background-color:mediumseagreen">
                    <input type="submit" data-enhanced="true" value="Save">Save
                </div>
                {% for hidden_item in hidden_items %}
                    <input type="hidden" name="{{ hidden_item.id }}" id="{{ hidden_item.id }}"
                           value="{{ hidden_item.value }}">
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}
