{% extends "base.html" %}
{% block menu-item %}
    {% if user.is_superuser %}
        <li class="nav-item"><a class="nav-link" href="/add_user"><i class="fas fa-user-plus"></i> Add User</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <hr>
    <div class="container-fluid">
        <div id="users">
            <input id="search-field" class="search form-control mysearch" placeholder="Search..."/>
            <ul class="list">
                {% for client in clients %}
                    <li style="background-color: transparent;">
                        <a class="name" href="/vehicles/?client_id={{ client.id }}">
                            <div>
                                {% if not client.first_name or not client.last_name %}
                                    <input type="button" class="btn btn-primary btn-lg btn-block"
                                           value="{{ client.username }}">
                                {% else %}
                                    <input type="button" class="btn btn-primary btn-lg btn-block"
                                           value="{{ client.first_name }} {{ client.last_name }}">
                                {% endif %}
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        var options = {
            valueNames: ['name']
        };
        var userList = new List('users', options);
    </script>
{% endblock %}
