{% extends "base.html" %}
{% load staticfiles %}
{% block extra_css %}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <hr>
        <a class="btn btn-light" href="/vehicle?vehicle_id={{ vehicle.id }}&vehicle_details_expanded"><i
                class="fas fa-arrow-left"></i> {{ vehicle.make.name }} {{ vehicle.model.name }}</a>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="page-header">
                    <h1>{{ vehicle.make.name }} {{ vehicle.model.name }}
                            <small>{{ vehicle.user.first_name }} {{ vehicle.user.last_name }}</small>
                    </h1>
                </div>
            </div>
            <form action="/save_job/" id="job_details" name="job_details" method="POST" style="margin: 20px;">
                {% csrf_token %}
                <input type="hidden" name="job_id" value="{{ job_id }}"/>
                <div class="row">
                    <div class="col">
                        <div class="input-group date" id="date_created_div">
                            <span class="input-group-addon">Date Created</span>
                            <input name="date_created" id="date_created" type="text"
                                   class="datepicker-here form-control"
                                   data-position="bottom left" data-language="en" data-toggle="tooltip"
                                   data-placement="bottom" title="Click to update"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-addon" id="mileage">Mileage</span>
                            <input id="mileage" type="text" name="mileage" placeholder="New Mileage"
                                   value="{{ job.mileage }}">
                            <span class="input-group-addon" id="mileage">Current: {{ vehicle.mileage }}</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 10px;">
                    <div class="input-group">
                        <label class="input-group-addon" for="note">Note</label>
                        <textarea class="form-control" name="note" id="note">{{ job.note }}</textarea>
                    </div>
                </div>

                <div class="row">
                    {% for key, values in job_details.items %}
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-header bg-primary"><h4 class="card-title">{{ key }}</h4></div>
                                <div class="card-body">
                                    {% for v in values %}
                                        <div class="row">
                                            <div>
                                                <label class="switch" style="margin-left: 10px;">
                                                    <input name="jb_{{ v.id }}" id="{{ v.id }}"
                                                           type="checkbox" {{ v.checked }}>
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                            <div style="margin-left: 10px;">
                                                {{ v.name }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
    <div class="fixed-bottom" style="top: 85%; left: 90%">
        <button type="button" onclick="save_job()" class="btn btn-success" style="width: 70px; height: 70px; padding: 10px 16px; border-radius:35px; font-size: 24px; line-height: 1.33;"><i class="fas fa-save"></i></button>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        var $picker = $('#date_created');
        $picker.datepicker({
            todayButton: true,
            autoClose: true,
            dateFormat: "MM d, yyyy"
        });
        {# Month needs to be minus 1 due to a bug in air-datepicker #}
        if ('{{ job.date_created }}' !== '') {
            console.log('{{ job.date_created }}')
            $picker.data('datepicker').selectDate(new Date(parseInt({{ job.date_created|date:"Y" }}),
                parseInt({{ job.date_created|date:"n" }}) - 1, parseInt({{ job.date_created|date:"j" }})));
        } else {
            var currentDate = new Date();
            $picker.data('datepicker').selectDate(new Date(currentDate.getFullYear(),
                currentDate.getMonth(), currentDate.getDate()));
        }


        function save_job() {
            console.log("save_job() is called");
            var val = $("#job_details").serialize();
            console.log("val: " + val);
            $.ajax({
                url: '/save_job/',
                type: 'POST',
                data: {
                    job_details: val,
                    vehicle_id: {{ vehicle.id }}
                }
            })
                .done(function (data) {
                    console.log(data);
                    $.toast({
                        heading: 'Success',
                        text: data,
                        icon: 'success',
                        hideAfter: 3000,
                        showHideTransition: 'slide',
                        afterHidden: function () {
                            window.location.replace('/vehicle?vehicle_id=' + {{ vehicle.id }})
                        }
                    })
                })
                .fail(function (data) {
                    console.log('failed');
                    console.log(data);
                })
                .always(function () {
                    console.log('always');
                });
        }

    </script>
{% endblock %}