{% extends "base.html" %}

{% block content %}
    <hr>
    <div class="container-fluid">
        {% if oc_jobs %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h4 class="alert-heading"><i class="fas fa-bell"></i> Alerts</h4>
                <div class="container-fluid">
                    <h5><i class="fas fa-tint"></i> Oil Change overdue (more then 6 months)</h5>
                    <div class="row">
                        {% for oc_job in oc_jobs %}
                            <a href="/job?job_id={{ oc_job.original.id }}">
                                <div class="badge badge-warning" style="margin: 5px;">
                                    {{ oc_job.original.user.first_name }} {{ oc_job.original.user.last_name }}
                                    {{ oc_job.original.vehicle.make.name }} {{ oc_job.original.vehicle.model.name }}
                                    {{ oc_job.months_diff }} months ago
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        {% endif %}
        <h2><i class="far fa-clock"></i> Recent Jobs</h2>
        <div class="row">
            {% for job in jobs %}
                <div class="col-xs-6 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <div>
                                <a href="/vehicles?client_id={{ job.vehicle.user.id }}" id="card_title">
                                    <h3 class="panel-title">{{ job.user.first_name }} {{ job.user.last_name }}</h3>
                                    <p>{{ job.vehicle.make.name }} {{ job.vehicle.model.name }}</p>
                                </a>
                            </div>
                        </div>
                        <a href="/job?job_id={{ job.id }}">
                            <div>
                                {% if job.details.all|length > 0 %}
                                    <div class="card-body">
                                        {% for detail in job.details.all %}
                                            <span class="badge badge-primary">{{ detail.name }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if job.note %}
                                    <div class="alert alert-primary" style="margin: 5px;">
                                        <pre style="white-space: pre-wrap;">{{ job.note }}</pre>
                                    </div>
                                {% endif %}
                                <div class="card-footer">
                                    Edit <span class="fas fa-edit"></span>
                                    <span style="float: right;">{{ job.date_created|date:"n/j/Y" }}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

