{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        {% if result %}
            <div class="alert alert-info">{{ result }}</div>
        {% endif %}
        <div>
            <a href="/initialize?type=job_details">
                <input type="button" class="btn btn-default btn-lg btn-block" value="Initialize Job Details">
            </a>
        </div>
        <div>
            <a href="/initialize?type=make_model">
                <input type="button" class="btn btn-default btn-lg btn-block" value="Initialize Car Make Model">
            </a>
        </div>
        <div>
            <a href="/initialize?type=users">
                <input type="button" class="btn btn-default btn-lg btn-block" value="Initialize User">
            </a>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}