<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>{{ client.first_name }} {{ client.last_name }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ client.email }}</td>
    </tr>
</table>