{% extends 'base.html' %}
{% block content %}
    <div style="margin: 40px;">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit"/>
        </form>
    </div>
{% endblock %}
