{% extends "base.html" %}
{% block menu-item %}
    <li class="nav-item"><a class="nav-link" href="/add_vehicle?client_id={{ client.id }}">Add New Vehicle</a></li>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <hr>
        <input type="hidden" id="client_id" value="{{ client.id }}"/>
        <legend><i class="fas fa-user"></i> {{ client.first_name }} {{ client.last_name }}</legend>
        <hr>
        <legend><i class="fas fa-car"></i> Vehicles
            <a href="/add_vehicle?client_id={{ client.id }}">
                <button type="button" class="btn btn-info"
                        data-target="#addVehicleModal"><strong>Add new</strong> <i class="fas fa-car"></i></span>
                </button>
            </a>
        </legend>
        <div class="well well-sm cards" id="vehicles">
            <div class="row">
                {% for vehicle in vehicles %}
                    <div class="col-xs-6 col-md-4 col-sm-12">
                        <a href="/vehicle?vehicle_id={{ vehicle.id }}">
                            <div class="card">
                                <div id="Active{{ vehicle.active }}" class="card-header">
                                    {{ vehicle.make.name }} {{ vehicle.model.name }}
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <table class="table">
                                            <tr>
                                                <td>Last Service</td>
                                                <td>{{ vehicle.last_updated|date:"n/j/Y" }}</td>
                                            </tr>
                                            <tr>
                                                <td>Active</td>
                                                <td>{% if vehicle.active %}<span class="fas fa-check"></span>{% else %}
                                                    <span class="fas fa-ban"></span>{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <td>Mileage</td>
                                                <td>{{ vehicle.mileage }}</td>
                                            </tr>
                                            <tr>
                                                <td>Year</td>
                                                <td>{{ vehicle.year }}</td>
                                            </tr>
                                            <tr>
                                                <td>Engine Oil Type</td>
                                                <td>{{ vehicle.get_oil_type }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
