{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <a class="btn btn-light" href="/vehicles?client_id={{ vehicle.user.id }}&vehicle_details_expanded"><i
                class="fas fa-arrow-left"></i> {{ vehicle.user.first_name }} {{ vehicle.user.last_name }}</a>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="page-header">
                    <h1>{{ vehicle.make.name }} {{ vehicle.model.name }}
                        <small>{{ vehicle.user.first_name }} {{ vehicle.user.last_name }}</small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="details col">
                    <strong>Vehicle Details</strong>
                    <a href="/edit_vehicle_details?vehicle_id={{ vehicle.id }}" style="float: right;">
                        <i class="fas fa-edit"></i> Edit</a>
                    <table class="table table-striped table-sm">
                        <tr>
                            <td>Active</td>
                            <td>{% if vehicle.active %}<span class="fas fa-check"></span>{% else %}
                                <span class="fas fa-ban">{% endif %}</span></td>
                        </tr>
                        <tr>
                            <td>Mileage</td>
                            <td>{{ vehicle.mileage }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>{{ vehicle.year }}</td>
                        </tr>
                        <tr>
                            <td>Engine Oil Type</td>
                            <td>{{ vehicle.get_oil_type }}</td>
                        </tr>
                        {% for extra_detail in vehicle.extra_details.all %}
                            {% if extra_detail.deleted == False %}
                                <tr>
                                    <td>{{ extra_detail.key }}</td>
                                    <td>{{ extra_detail.value }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <hr>

            <a href="/job?vehicle_id={{ vehicle.id }}" value data-clear-btn="true">
                <button class="btn btn-info btn-block"><strong>Add new job</strong> <i class="fas fa-tasks"></i>
                </button>
            </a>
            <hr>
            {% if job_deleted >= 0 %}
                <div class="alert alert-info" role="alert">Job {{ job_deleted }} is deleted</div>
            {% endif %}
            <div id="jobs">
                {% if jobs|length > 0 %}
                    <input type="search" class="search form-control" placeholder="Search"/>
                {% endif %}
                <ul class="list">
                    {% for job in jobs|dictsortreversed:"last_updated" %}
                        <li style="background-color: inherit;">
                            <div class="card">
                                <div class="card-header bg-primary">
                                    Created on {{ job.date_created|date:"n/j/Y" }} <i
                                        class="fas fa-at"></i> {{ job.mileage }} miles
                                    <a style="float: right; color: white;"
                                       href="?vehicle_id={{ vehicle.id }}&delete_job={{ job.id }}"
                                       onclick="return confirm('Delete this job?');"><i
                                            class="fas fa-trash-alt"></i></a>
                                </div>
                                <a href="/job?job_id={{ job.id }}">
                                    <div class="card-body">
                                        <div class="name">
                                            {% if job.details.all|length > 0 %}
                                                {% for detail in job.details.all %}
                                                    <span class="badge badge-primary">{{ detail.name }}</span>
                                                {% endfor %}
                                            {% endif %}
                                            {% if job.note %}
                                                <hr>
                                                <div>
                                                    <pre style="white-space: pre-wrap;">{{ job.note }}</pre>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        Edit <span class="fas fa-edit"></span>
                                        <span style="float: right;">last update: {{ job.last_updated|date:"n/j/Y" }}</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        var options = {
            valueNames: ['name']
        };
        var userList = new List('jobs', options);
    </script>
{% endblock %}

